<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711849129094-dmo51kr8q43jec9qcvrda5qf8lau16bq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711849129094-dmo51kr8q43jec9qcvrda5qf8lau16bq</string>
	<key>API_KEY</key>
	<string>AIzaSyCflDgVny6zeEyr5TOGetO5Iq9MeZuqTZo</string>
	<key>GCM_SENDER_ID</key>
	<string>711849129094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zainalsalamun.shoesproject</string>
	<key>PROJECT_ID</key>
	<string>spatial-rock-109208</string>
	<key>STORAGE_BUCKET</key>
	<string>spatial-rock-109208.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711849129094:ios:d9566cf20c2174c9f2cd07</string>
	<key>DATABASE_URL</key>
	<string>https://spatial-rock-109208-default-rtdb.firebaseio.com</string>
</dict>
</plist>